body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  color: #8a6d2f;
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

h2 {
  margin: 0px 0px 27px;
  color: #8a6d2f;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  color: rgba(0, 0, 0, .4);
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

.button {
  position: static;
  display: block;
  width: 50%;
  height: 54px;
  padding: 4px 29px;
  float: right;
  clear: none;
  background-color: #a8863d;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #18c7aa;
}

.button.transparent-button {
  border: 2px solid #b59143;
  background-color: #fac960;
}

.button.transparent-button.button-2 {
  float: left;
}

.field {
  width: 70%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 0px solid #000;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 0 8px 0 transparent;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #806732;
  font-size: 18px;
  font-weight: 300;
}

.field:focus {
  box-shadow: inset 0 0 0 2px #b59143;
}

.sign-up-form {
  margin-top: 40px;
}

.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #b59143;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
}

.spread-word {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}

.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}

.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}

.container {
  padding-right: 70px;
  padding-left: 70px;
}

.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #fac960;
  text-align: center;
}

.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}

.share-wrapper {
  margin-top: 32px;
}

.social-btn {
  margin-left: 17px;
  padding-right: 2px;
  padding-left: 2px;
  opacity: 0.15;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.social-btn:hover {
  opacity: 0.7;
}

.social-btn.footer {
  margin-right: 9px;
  margin-left: 9px;
}

.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #fff;
}

.right-nav {
  padding-top: 2px;
  text-align: right;
}

.brand {
  display: inline-block;
  color: #2e2e2e;
  font-size: 32px;
  line-height: 22px;
  font-weight: 500;
}

.sponsor {
  display: inline-block;
  color: #2e2e2e;
  font-size:14px;
  white-space:nowrap;
}

.logo {
  margin-top: -15px;
  margin-right: 13px;
  padding-top: 1px;
  background-color: transparent;
}

.logo.footer {
  display: block;
  margin: 0px auto 21px;
}

.section {
  padding-top: 81px;
  padding-bottom: 81px;
  text-align: center;
}

.section.hero {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: #fac960;
  text-align: center;
}

.section.hero.success {
  background-color: #18c7aa;
}

.section.grey {
  background-color: #f2f2f2;
}

.grey-heading {
  color: rgba(0, 0, 0, .56);
  text-shadow: none;
}

.image-crop {
  overflow: hidden;
  height: 368px;
  margin-top: 39px;
  margin-bottom: -81px;
}

.phone-image {
  width: 381px;
}

.infinite {
  margin-top: 52px;
  opacity: 0.15;
}

.top-heading {
  text-align: left;
}

.sub-heading {
  color: #b59143;
  font-size: 18px;
}

.copy {
  text-align: left;
}

.nav-link {
  margin-left: 35px;
  color: #2e2e2e;
  font-size: 18px;
  text-decoration: none;
}

.form {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 30%;
  }
  .field {
    width: 70%;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
}

@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .field {
    width: 60%;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    text-shadow: none;
  }
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    padding-right: 18px;
    padding-left: 18px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .grey-heading {
    text-shadow: none;
  }
  .image-crop {
    height: 278px;
    margin-bottom: -47px;
  }
  .phone-image {
    width: 80%;
  }
}

