@charset 'utf-8';
@import 'ace';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
$font-family-fallback: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$steel-body: darken(#90A1B8, 5%);
$steel-bg: #318BB0;
$steel-heading: #364962;
$accent-blue: #27AAE1;
$ms-blue: #0074D9;
$top-blue: #082C38;

html {
  font-size: 19px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', $font-family-fallback;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Poppins', $font-family-fallback;
}

.top-blue {
  color: $top-blue;
}

.bg-faint-blue {
  background: #f3f4f9;
}

.bg-ms-blue {
  background: $ms-blue;
}

.ms-blue {
  color: $ms-blue;
}

.bg-steel {
  background: $steel-bg;
}

.steel-heading {
  color: $steel-heading;
}

.steel-body {
  color: $steel-body;
}

.steel-border {
  border-color: $steel-body;
}

.navigation a {
  transition: color .2s ease-out;

  &:hover {
    color: darken($steel-body, 30%);
  }
}

.text-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.hero {
  position: relative;
  z-index: 0;

  &:after {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='90' viewBox='-26 -45 52 90' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fafafa' d='m26 15v30L0 30V-30l-26-15v30z'/%3E%3Cpath fill='%23222' d='m-26 15v30L0 30V-30l26-15v30z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: repeat;
    background-size: 300px;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .035;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.icon {
  height: 25px;
  width: 25px;
}

.logo img {
  max-width: 250px;
}

.terminal {
  background: #fff;
  box-shadow: 0 0 0 3px $ms-blue;
  position: relative;
  z-index: 15;

  &:before {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230074D9' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    right: -10px;
    top: 10px;
    width: 100%;
    z-index: -1;
  }
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
  background: white;
  overflow: hidden;
}

.terminal pre {
  display: block;
  -webkit-font-smoothing: auto;
}

.terminal code {
  display: block;
  font-size: 1em;
}