@charset 'utf-8';
@import 'ace';
@import 'animation';
@import 'mixins';
@import 'visualstudiosyntax';
@import "font-awesome-sprockets";
@import "font-awesome";

$font-family-fallback: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$steel-body: darken(#90A1B8, 5%);
$steel-heading: #364962;
$ms-blue: #0074D9;
$faint-blue: #f3f4f9;

html {
  font-size: 17px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', $font-family-fallback;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Poppins', $font-family-fallback;
}

.bg-faint-blue {
  background: $faint-blue;
}

.bg-ms-blue {
  background: $ms-blue;
}

.ms-blue {
  color: $ms-blue;
}

.steel-heading {
  color: $steel-heading;
}

.steel-body {
  color: $steel-body;
}

.uppercase {
  text-transform: uppercase;
}

a {
  color: $ms-blue;
}

p {
  @media(min-width: 40em) {
    font-size: 1.10em;
  }
}

.btn-cta {
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  transition: box-shadow .2s ease-out,
              transform .2s ease-out;

  &:hover {
    box-shadow: 0 7px 14px rgba($steel-heading, .1),
                0 3px 6px rgba(0,0,0, .08);
    transform: translateY(-2px);
  }
}

.navigation a {
  transition: color .2s ease-out;

  &:hover {
    color: darken($steel-body, 30%);
  }

  &.active {
    color: darken($steel-body, 45%);
  }
}

.text-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.hero {
  position: relative;
  z-index: 0;
}

#particles {
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: .45;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.icon {
  height: 25px;
  width: 25px;
}

.logo img {
  max-width: 200px;

  @media(min-width: 52em) {
    max-width: 250px;
  }
}

.logo-small {
  max-width: 50px;
}

.terminal {
  background: #fff;
  box-shadow: 0 0 0 3px $ms-blue;
  position: relative;
  z-index: 15;

  @media(min-width: 40em) {
    &:before {
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230074D9' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      right: -10px;
      top: 10px;
      width: 100%;
      z-index: -1;
    }
  }
}

.terminal-body {
  background: white;
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}

.code-bash {
  color: $ms-blue;
  background-image: linear-gradient(transparent,transparent 87.5%,rgba(0,119,204,.125) 0);
}

.terminal pre {
  display: block;
  -webkit-font-smoothing: auto;
}

.terminal code {
  display: block;
  font-size: 1em;
}

.twitter-tweet {
  width: 100% !important;
}

footer {
  border-top: 1px solid $faint-blue;
}

body.docs {
  .top-nav {
    border-bottom: 1px solid $faint-blue;
  }

  code {
    background: #f7f7f7;
    font-size: 85%;
    word-break: break-word;
  }

  pre {
    background: #f7f7f7;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 3px;
  }
}

.docs-nav-link {
  opacity: .5;
  transition: opacity .2s ease-out;
  
  &:hover {
    opacity: .75;
  }

  &.active {
    opacity: 1;
    background: -moz-linear-gradient(left, rgba(221,221,221,.185) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(221,221,221,.185) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(221,221,221,.185) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  }
}

$sel: '.toc-link ul';
@for $i from 0 through 10 {
  $sel: if($i == 0, "ul", selector-nest($sel, "ul")) !global;

  #{$sel} li a {
      padding-left: 10px * ($i + 1);
  }
}

.toc-link {
  ul {
    @extend .list-reset;
    @extend .my1;
  }

  ul li {
    @extend .mb1;
  }

  ul li.active-toc-link > a {
    box-shadow: inset 2px 0 0 $ms-blue;
    opacity: 1;
  }

  ul a {
    display: block;
    @extend .text-decoration-none;
    @extend .color-inherit;
    @extend .h5;
    @extend .m0;
    opacity: .65;
    transition: all .2s ease-out;

    &:hover {
      opacity: .95;

    }
  }
}

table {
  border:#ccc 1px solid;
  border-radius:3px;
}

table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
}

table tr {
  padding-left:10px;
}

table td {
  padding:6px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
