@charset 'utf-8';
@import 'ace';
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

$font-family-fallback: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$steel-body: #90A1B8;

.bg-steel {
  background: #364962;
}

.steel-heading {
  color: #364962;
}

.steel-body {
  color: $steel-body;
}

.steel-border {
  border-color: $steel-body;
}

.edge-bottom-left {
  position: relative;
  z-index: 1;
}
.edge-bottom-left:after {
  background: inherit;
  bottom: 0;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.icon {
  height: 25px;
  width: 25px;
}

.terminal {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
}

.terminal pre {
  -webkit-font-smoothing: auto;
}

html {
  font-size: 18px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', $font-family-fallback;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Poppins', $font-family-fallback;
}

