<h5 class="regular uppercase">Overview</h5>
<% sorted_docs('docs').each do |article| %>
	<%= link_to article.title, article.url, class: "#{nav_active(article.url)} pl1 docs-nav-link text-decoration-none color-inherit block border-bottom border-silver py1" %>
	<% if article.url == current_page.url && !table_of_contents(article).empty? %>
		<div class="toc-link border-bottom border-silver js-toc"></div>
	<% end %>
<% end %>