<h5 class="regular uppercase">Overview</h5>
<% blog('docs').articles.each do |article| %>
  <%= link_to article.title, article.url, class: "#{nav_active(article.url)} pl1 docs-nav-link text-decoration-none color-inherit block border-bottom border-silver py1" %>
<% end %>

<h5 class="regular uppercase">Library Reference</h5>
<% blog('library').articles.each do |article| %>
  <%= link_to article.title, article.url, class: "#{nav_active(article.url)} pl1 docs-nav-link text-decoration-none color-inherit block border-bottom border-silver py1" %>
<% end %>
