<footer>
  <div class="max-width-4 mx-auto">
    <div class="px2 py3">
      <%= image_tag 'logo.svg', class: 'logo-small', alt: "Steeltoe Logo" %>
      <a href="http://dotnetfoundation.org"><img align="right" src="/images/dot_net_foundation_logo.png" width="150" height="75" alt="dotNET Foundation Logo"/></a>
      <p class="mb0 h5">© 2018 <a class="text-decoration-none" href="http://www.pivotal.io/" target="_blank">Pivotal Software</a>, Inc. All Rights Reserved. <a class="text-decoration-none" href="http://www.pivotal.io/terms-of-use" target="_blank">Terms of Use</a>, <a class="text-decoration-none" href="http://www.pivotal.io/privacy-policy" target="_blank">Privacy</a>, <style>#teconsent #teconsent a:after{content:"Cookie Preferences"} #teconsent a {margin-left: 3px;}</style> <div id="teconsent" style='display:inline-block;'></div> <script async="async" src="//consent.trustarc.com/notice?domain=pivotal.com&amp;c=teconsent&amp;js=nj&amp;country=gb" crossorigin=""></script>, and <a class="text-decoration-none" href="SteelToeTrademarkGuidelines.pdf" target="_blank">Trademark Guidelines</a></p>
      <ul class="list-reset mt1 p0">
        <li class="inline-block mr1">
          <a class="text-decoration-none" target="_blank" href="https://twitter.com/steeltoeoss">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="inline-block">
          <a target="_blank" href="mailto:info@steeltoe.io">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
