<footer>
  <div class="max-width-4 mx-auto">
    <div class="px2 py3">
      <%= image_tag 'logo.svg', class: 'logo-small', alt: "Steeltoe Logo" %>
      <a href="https://dotnetfoundation.org"><img align="right" src="/images/dot_net_foundation_logo.png" width="150" height="75" alt="dotNET Foundation Logo"/></a>
      <br>
      <span class="mb0 h5">© 2017-<script>var d = new Date();document.write(d.getFullYear());</script> <a class="text-decoration-none" href="https://pivotal.io/" target="_blank">Pivotal Software</a>, Inc. All Rights Reserved.&nbsp;&bullet;&nbsp;<a class="text-decoration-none" href="https://pivotal.io/terms-of-use" target="_blank">Terms of Use</a>&nbsp;&bullet;&nbsp;<a class="text-decoration-none" href="https://pivotal.io/privacy-policy" target="_blank">Privacy</a>&nbsp;&bullet;&nbsp;<a class="text-decoration-none" href="/SteeltoeTrademarkGuidelines.pdf" target="_blank">Trademark Guidelines</a>&nbsp;&bullet;
<style> #teconsent img{content:url(https://d1fto35gcfffzn.cloudfront.net/images/Spacer.gif)} #teconsent a:focus {outline:none;} #teconsent a {margin-left: 3px;}</style><div id="teconsent" style='display:inline-block;'></div>
</span>
      <ul class="list-reset mt1 p0">
        <li class="inline-block mr1">
          <a class="text-decoration-none" target="_blank" href="https://twitter.com/steeltoeoss">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="inline-block">
          <a target="_blank" href="mailto:info@steeltoe.io">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
