<footer>
  <div class="max-width-4 mx-auto">
    <div class="px2 py3">
      <img class="logo-small" src="images/logo.svg" alt="">
      <p class="mb0 h5">© 2016 <a class="text-decoration-none" href="http://www.pivotal.io/" target="_blank">Pivotal Software</a>, Inc. All Rights Reserved. <a class="text-decoration-none" href="http://www.pivotal.io/terms-of-use" target="_blank">Terms of Use</a>, <a class="text-decoration-none" href="http://www.pivotal.io/privacy-policy" target="_blank">Privacy</a> and <a class="text-decoration-none" href="SteelToeTrademarkGuidelines.pdf" target="_blank">Trademark Guidelines</a></p>
      <ul class="list-reset mt1 p0">
        <li class="inline-block mr1">
          <a class="text-decoration-none" target="_blank" href="https://twitter.com/steeltoeoss">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="inline-block">
          <a target="_blank" href="mailto:info@steeltoe.io">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
