<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <meta property="og:title" content="Steeltoe OSS" />
  <meta property="og:url" content="https://www.steeltoe.io" />
  <meta property="og:image" content="https://steeltoe.io/images/favicon.png" />
  <meta property="og:description" content="Cloud Native .NET Applications - Friend of Spring Boot, Spring Cloud, and Cloud Foundry." />

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Steeltoe" %></title>
  <%= favicon_tag 'images/favicon.png' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,400i|Poppins:400,700|Roboto+Mono">
  <%= stylesheet_link_tag :site %>
  <%= stylesheet_link_tag :tocbot %>
</head>
