<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K877M7V');</script>
  <!-- End Google Tag Manager -->
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <meta property="og:title" content="Steeltoe OSS" />
  <meta property="og:url" content="https://www.steeltoe.io" />
  <meta property="og:image" content="https://steeltoe.io/images/favicon.png" />
  <meta property="og:description" content="Cloud Native .NET Applications - Friend of Spring Boot, Spring Cloud, and Cloud Foundry." />

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Steeltoe" %></title>
  <%= favicon_tag 'images/favicon.png' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla:400,400i|Poppins:400,700|Roboto+Mono">
  <%= stylesheet_link_tag :site %>
  <%= stylesheet_link_tag :tocbot %>
</head>
