<nav class="top-nav">
  <div class="max-width-4 mx-auto">
    <div class="px2 py2 center sm-left-align sm-flex items-center">
      <div class="logo mx-auto mb1 sm-mx0 sm-mb0 flex-auto">
        <img src="images/logo-inline.svg" alt="Steeltoe Logo">
      </div>
      <div class="navigation">
        <a class="text-decoration-none steel-body mr1 sm-mr3" target="_blank" href="https://github.com/steeltoeoss">GitHub</a>
        <a class="text-decoration-none steel-body mr1 sm-mr3" target="_blank" href="https://www.nuget.org/profiles/steeltoe">NuGet</a>
        <a class="text-decoration-none steel-body mr1 sm-mr3" href="docs.html">Docs</a>
        <a class="text-decoration-none steel-body mr0" target="_blank" href="http://slack.steeltoe.io/">Slack</a>
      </div>
    </div>
  </div>
</nav>
