---
layout: documentation
---
<h1 class="regular">Overview</h1>
<p>Steeltoe is an <a href="https://github.com/SteeltoeOSS">open source project</a> aimed at taking the tremendously useful tools from Netflix and others and making them available to the .NET community. It was built to work with .NET Core as well as .NET Framework 4.x.  Additionally, most of these components work stand-alone (e.g., on  your local computer) as well as on Cloud Foundry, the leading multi-cloud application platform.</p>

<p>Steeltoe builds on Spring Cloud by providing several packages that enable .NET developers to leverage these tools to implement some common patterns (e.g. centralized configuration management, service discovery, circuit breakers, etc. ) found in highly scalable and resilient distributed systems. Using Steeltoe, together with Spring Cloud, developers are able to quickly stand up micro-services and applications that implement these patterns.</p>

<p>Steeltoe provides services that fall broadly into two categories.</p>

<p>Services that simplify using .NET and ASP.NET on Cloud Foundry:</p>

<ul>
<li>Connectors (e.g. MySql, Redis, Postgres, RabbitMQ, OAuth, etc)</li>
<li>Configuration providers</li>
<li>Security providers (OAuth SSO, JWT, Redis Key Ring Storage, etc.)</li>
<li>Logging providers</li>
</ul>

<p>And services that enable .NET and ASP.NET developers to leverage Spring Cloud:</p>

<ul>
<li>Configuration Server client</li>
<li>Service Discovery client</li>
<li>Hystrix Circuit Breaker</li>
<li>Management endpoints</li>
</ul>

