---
title: Steeltoe
---

<section class="bg-steel edge-bottom-left">
  <div class="max-width-4 mx-auto">
    <div class="px2 py4">
      <div class="clearfix">
        <div class="col sm-col-8">
          <p class="h2 white mt0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eius illo sed, ab error.</p>
          <button class="btn btn-outline regular bg-white steel-heading flex items-center btn-test">
            <i class="fa fa-slack mr1"></i>
            Join the Conversation on Slack
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="max-width-4 mx-auto">
  <main class="px2 mt4">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6">
        <h2 class="regular my0 steel-body muted">01</h2>
        <h1 class="mt0 mb1 steel-heading">Break the monolith</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6 sm-col-right">
        <h2 class="regular my0 steel-body muted">02</h2>
        <h1 class="mt0 mb1 steel-heading">Do other things</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6">
        <h2 class="regular my0 steel-body muted">03</h2>
        <h1 class="mt0 mb1 steel-heading">Break the monolith</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6 sm-col-right">
        <h2 class="regular my0 steel-body muted">04</h2>
        <h1 class="mt0 mb1 steel-heading">Do other things</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="sm-col-7 mx-auto">
        <div class="terminal">
          <div class="terminal-top-bar p1 bg-blue">
            <ul class="list-reset m0 flex items-center justify-end">
              <li class="inline-block mr1">
                <img src="images/icons/icon-minimize.svg" alt="">
              </li>
              <li class="inline-block mr1">
                <img src="images/icons/icon-maximize.svg" alt="">
              </li>
              <li class="inline-block mr1">
                <img src="images/icons/icon-close.svg" alt="">
              </li>
            </ul>
          </div>
          <pre>
  using Microsoft.Extensions.Configuration;
  using Steeltoe.Extensions.Configuration.ConfigServer;

  namespace Foo.Controllers
  {
      public class HomeController : Controller
      {

          private IConfigurationRoot Config { get; set; }

          public HomeController(IConfigurationRoot config)
          {
              Config = config;
          }
          </pre>
        </div>
      </div>
    </section>
  </main>
</div>