---
title: Steeltoe
---

<section class="bg-steel hero">
  <div class="max-width-4 mx-auto">
    <div class="px2 py4">
      <div class="clearfix">
        <div class="col sm-col-6">
          <h1 class="h2 white mt0 text-shadow">Don't reinvent the distributed wheel. <br/> Steeltoe is a .NET toolkit for common microservice patterns.</h1>
        </div>
      </div>
      <div class="clearfix">
        <div class="col sm-col-12">
          <a target="_blank" href="https://github.com/SteeltoeOSS/Samples" class="btn btn-outline inline-block border-none bg-white steel-heading mr1">
            <i class="fa fa-github mr1"></i>
            View Sample App on GitHub
          </a>
          <a target="_blank" href="http://slack.steeltoe.io/" class="btn btn-outline inline-block border-white white mt1 sm-mt0">
            <i class="fa fa-slack mr1"></i>
            Join us on Slack
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="max-width-4 mx-auto">
  <main class="px2 mt4">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6">
        <h2 class="regular my0 steel-body muted">01</h2>
        <h1 class="mt0 mb1 steel-heading">Break the monolith</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6 sm-col-right">
        <h2 class="regular my0 steel-body muted">02</h2>
        <h1 class="mt0 mb1 steel-heading">Do other things</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6">
        <h2 class="regular my0 steel-body muted">03</h2>
        <h1 class="mt0 mb1 steel-heading">Break the monolith</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="col sm-col-6 sm-col-right">
        <h2 class="regular my0 steel-body muted">04</h2>
        <h1 class="mt0 mb1 steel-heading">Do other things</h1>
        <p class="mt0 steel-body">Kogi quinoa leggings dreamcatcher narwhal banjo hammock typewriter. Fixie vegan pop-up glossier ugh. Prism sustainable cronut fashion axe hexagon edison bulb, locavore air plant health goth put a bird on it.</p>
      </div>
    </section>
    <hr class="steel-border muted">
    <section class="clearfix py1 sm-py4">
      <div class="sm-col-7 mx-auto">
        <div class="terminal">
          <div class="terminal-top-bar p1 bg-ms-blue">
            <ul class="list-reset m0 flex items-center justify-end">
              <li class="inline-block mr1">
                <img src="images/icons/icon-minimize.svg" alt="">
              </li>
              <li class="inline-block mr1">
                <img src="images/icons/icon-maximize.svg" alt="">
              </li>
              <li class="inline-block mr1">
                <img src="images/icons/icon-close.svg" alt="">
              </li>
            </ul>
          </div>
      <pre class="pb2 m0"><code class="c# m0" id="codeSnippet1">  using Microsoft.Extensions.Configuration;
  using Steeltoe.Extensions.Configuration.ConfigServer;

      namespace Foo.Controllers
      {
          public class HomeController : Controller
          {

              private IConfigurationRoot Config { get; set; }

              public HomeController(IConfigurationRoot config)
              {
                  Config = config;
              }</code></pre>
        </div>
      </div>
    </section>
  </main>
</div>